body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-brand{
  padding-right: 30px;
}
.form-control{
	margin-top: 10px;
	margin-bottom: 10px;
}
.form{
	
}