html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
  color:white;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
}
.container{
    background-color: #1C1C1C;
    border:2px solid;
}
.text-container{
  font-size: 75px;
  text-align: center;  
  width: 100%;
  float:left;
  height: 80%;
  
  display: table;
}
.text{
  font-size: 75px;
  text-align: center;  
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.user{
  padding-top: 5px;
  font-size: 25px;
  text-align: left;
  float:left;
}
.audience-name{
 font-size:25px;
 float:right;
}
